@using AdvBoard.MVC.Models.ViewModels
@model List<AnnouncementViewModel>

<div class="d-flex flex-wrap gap-3">
	@foreach (var adv in Model)
	{
		<div class="flex-row p-3 border rounded bg-light" style="min-width: 300px; max-width: 48%;">
			<h6 class="fw-bold">@adv.Title </h6>
			<p class="mb-0">
				<span class="fw-bold">Опис:</span> @adv.Description</p>
			<p class="mb-0">
				<span class="fw-bold">Створено:</span> @adv.CreatedAt</p>
			<p class="mb-0">
				<span class="fw-bold">Статус:</span> @adv.Status</p>
			<p class="mb-0">
				<span class="fw-bold">Власник:</span> @adv.Owner</p>
			<p class="mb-0">
				<span class="fw-bold">Категорія:</span> @adv.Category</p>
			<p class="mb-0">
				<span class="fw-bold">Підкатегорія:</span> @adv.SubCategory</p>
		</div>
	}
</div>