@model List<AdvBoard.MVC.Models.AnnouncementModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (var adv in Model)
{
	<div class="d-flex flex-wrap gap-3">
		<div class="flex-fill p-3 border rounded bg-light" style="min-width: 300px; max-width: 48%;">
			<h6 class="fw-bold">@adv.Title @adv.Id </h6>
			<p class="mb-0">@adv.Id</p>
			<p class="mb-0">@adv.Id</p>
			<p class="mb-0">@adv.Title</p>
			<p class="mb-0">@adv.Description</p>
			<p class="mb-0">@adv.CreatedAt</p>
			<p class="mb-0">@adv.Status</p>
			<p class="mb-0">@adv.Owner</p>
			<p class="mb-0">@adv.Category</p>
			<p class="mb-0">@adv.SubCategory</p>
		</div>
	</div>
}