@using AdvBoard.MVC.Models.ViewModels
@model List<AnnouncementViewModel>

@foreach (var adv in Model)
{
	<div class="d-flex flex-wrap gap-3">
		<div class="flex p-3 border rounded bg-light" style="min-width: 300px; max-width: 48%;">
			<p class="mb-0">@adv.Title</p>
			<p class="mb-0">@adv.Description</p>
			<p class="mb-0">@adv.CreatedAt</p>
			<p class="mb-0">@adv.Status</p>
			<p class="mb-0">@adv.Category</p>
			<p class="mb-0">@adv.SubCategory</p>
			<a asp-area="" asp-controller="Announcement" asp-action="Edit" asp-route-id="@adv.Id">Edit</a>
		</div>
	</div>
}